body {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/3395620.jpg'); /* Replace with your image path/URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.profile {
    border-radius: 50%;
    margin-left: 2%;
    border: 0.5vw solid #d187fc;
}

.pd, .p {
    border: 0.5vw solid #f0d6ff;
    border-left: 1vw solid transparent;
    border-radius: 10%;
    margin-left: 1%;
    margin-top: 3%;
    color: whitesmoke;
    box-shadow: 1vw 1vw 1vw 1vw #bd66ef;
    margin-right: 70%;
    text-align: justify;
    padding: 3%;
}

p {
    text-shadow: 0.5vw 0.5vw 0.5vw black;
}

.fa {
    font-size: 2vw;
    width: 2vw;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: whitesmoke;
}

#download {
    color: black;
}

.CV {
    border: 0.3vw solid rgb(177, 177, 184);
    background-color: rgb(252, 251, 253);
    padding: 3%;
    color: rgb(12, 11, 11);
    text-decoration: solid;
    text-overflow: ellipsis;
    border-radius: 1vw;
    border-style: ridge;
}

.personal-details {
    margin-top: 5%;
    text-decoration: underline;
    font-weight: 600;
    font-size: larger;
}

.p {
    margin-top: 3%;
}

.jk {
    margin-top: -66%;
    margin-left: 34%;
    margin-right: 0%;
    background-color: transparent;
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.5vw 1vw 1vw rgb(219, 198, 255);
}

button {
    margin-left: 0.5%;
    color: whitesmoke;
    margin-right: -1%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.button {
    font-size: 1.2vw;
    color: #fff;
    text-shadow: 0 0.2vw 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    white-space: unset;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.button:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
    z-index: -1;
    box-shadow: 0 -0.4vw rgba(65, 6, 70, 0.5) inset,
                0 0.4vw rgba(132, 8, 194, 0.99) inset,
                -0.4vw 0 rgba(226, 181, 248, 0.5) inset,
                0.4vw 0 rgba(56, 4, 70, 0.5) inset;
}

.button:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0 0.4vw 0 0 rgb(0 0 0 / 15%);
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.button:hover:before {
    box-shadow: 0 -0.4vw rgb(0 0 0 / 50%) inset,
                0 0.4vw rgb(255 255 255 / 20%) inset,
                -0.4vw 0 rgb(255 255 255 / 20%) inset,
                0.4vw 0 rgb(0 0 0 / 50%) inset;
}

.button:active {
    transform: translateY(0.4vw);
}

.button:active:after {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 15%);
}

.con {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 0%;
    margin-bottom: 10%;
    background-color: transparent;
    border-radius: 0.5vw;
    color: white;
    box-shadow: 0 0 5vw 0 rgb(195, 103, 241);
    padding: 3%;
}

.post {
    border: 0.5vw solid #fdfbfd;
    border-left: 1vw solid transparent;
    border-radius: 5%;
    margin-top: 3%;
    color: whitesmoke;
    margin-bottom: 10%;
    box-shadow: 0 0 1vw 0 #bd66ef;
    text-align: justify;
    padding: 3%;
}

.image {
    margin: 3%;
    margin-left: -1.5%;
}

#oi {
    margin-right: 20%;
}